<% include partials/header.ejs %>
<script src="firstPage.js"></script>
<h3>In case of you have forget password please processed with your email</h3>
<form action="/forgetPassword" method="POST">
    <div class="form-group mb-2">
        <label for="staticEmail2" class="sr-only">Email</label>
        <input type="email"  class="form-control-plaintext" id="staticEmail2"
               name='emailId' onkeyup="smallCase('staticEmail2')" placeholder="Em@il" autofocus required>
    </div>
    <input type="submit" class="btn btn-info" value="Change Password">
</form>
<br>
<a href="/">
    <button class="btn btn-light btn-lg">Login Again</button>
</a>
<% include partials/footer.ejs %>
