<% include partials/header.ejs %>
<h3>In case of you have forget password please processed with your email</h3>
<form action="/forgetPassword" method="POST">
    <label>Enter your email here</label>
    <input type="text" name="token" hidden>
    <input type="email" placeholder="em@il" required autofocus>
    <input type="submit" value="Get Password">
</form>
<br>
<br>
<a href="/">
    <button>Login Again</button>
</a>
<% include partials/footer.ejs %>