<% include partials/header.ejs %>
<script src="firstPage.js"></script>
<form method="POST" action="/resetPassword/<%= id %>">
    <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <input class="form-control" id="inputPassword3" onkeyup="passwordCheck('inputPassword3')"
                   type="password"  minlength="8" name="password" autofocus placeholder="P@ssw0rd" required>
        </div>
    </div>
    <span id="passwordCheck"></span>
    <div class="form-group row">
        <label for="inputPassword4" class="col-sm-2 col-form-label">Confirm Password</label>
        <div class="col-sm-10">
            <input class="form-control" id="inputPassword4" onkeyup="passwordConfirmation('inputPassword4', 'inputPassword3')"
                   type="password" minlength="8" placeholder="Confirm-Password" required>
        </div>
    </div>
    <span id="passwordConfirmation"></span>
    <input type="submit" value="Confirm" class="btn btn-outline-info btn-lg" id="button">
</form>
<% include partials/footer.ejs %>
