<% include partials/header.ejs %>
<script src="firstPage.js"></script>
<form method="POST" action="/resetPassword/<%= id %>">
    <label>
        New Password :
    </label>
    <input onkeyup="passwordCheck()" type="password" autofocus id='firstPassword' minlength="8" name="password" placeholder="P@ssw0rd" required>
    <span id="passwordCheck"></span>
    <label>
        Confirm Password :
    </label>
    <input onkeyup="passwordConfirmation()" type="password" minlength="8" id="secondPassword" placeholder="Confirm-Password" required>
    <span id="passwordConfirmation"></span>
    <input type="submit" value="Set This" id="button">
</form>
<% include partials/footer.ejs %>